@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: sans1;
  src: url("./assets/GeneralSans-Regular.otf");
}
@font-face {
  font-family: sans2;
  src: url("./assets/GeneralSans-Medium.otf");
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}
textarea::-webkit-scrollbar {
  display: none;
}

.mainsidebar::-webkit-scrollbar {
  width: 6px;
}

.mainsidebar::-webkit-scrollbar-thumb {
  background: rgba(120,120,120,0.4);
  border-radius: 10px;
}